<app-heading   boxColor= {{boxColor}} headingText = {{headingText}}></app-heading>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                <form >
                        <div *ngIf="!successfullRegistration">
                            <input
                                type="text"
                                name="storeName"
                                class="form-control input-lg mt-2"
                                placeholder="Store Name"
                                [(ngModel)]="storeDetails.storeName"
                            />
                            <input
                                type="text"
                                name="storeAddress"
                                class="form-control input-lg mt-2"
                                placeholder="Store Address"
                                [(ngModel)]="storeDetails.storeAddress"
                            />
                            <div class="row mt-2">
                                <div class="col">
                                    <select class="form-control" (change)="optionSelectHandler($event)" name="openingHours" >
                                        <option value="">Opening Time</option>
                                        <option *ngFor="let hour of openingHoursArray" [value]="hour.id">{{hour.value}}</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="form-control" (change)="optionSelectHandler($event)" name="closingHours">
                                        <option value="">Closing Time</option>
                                        <option *ngFor="let hour of closingHoursArray" [value]="hour.id">{{hour.value}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                
                                    <select class="form-control" (change)="optionSelectHandler($event)" name="personsPerSlot">
                                        <option value="">Allowed Persons / Slot</option>
                                        <option *ngFor="let allowedPerson of allowedPersonsArray" [value]="allowedPerson.id">{{allowedPerson.value}}</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="form-control" (change)="optionSelectHandler($event)" name="slotDuration">
                                        <option value="">Slot Duration</option>
                                        <option *ngFor="let slot of slotsArray" [value]="slot.id">{{slot.value}} Mins</option>
                                    </select>
                                </div>
                            </div>

                            <input
                                type="email"
                                name="email"
                                class="form-control input-lg mt-2"
                                placeholder="Enter your Email"
                                [(ngModel)]="storeDetails.email"
                            />
                            <input
                                type="password"
                                name="password"
                                class="form-control input-lg mt-2"
                                placeholder="Choose Password"
                                [(ngModel)]="storeDetails.password"
                            />
                            <input
                                type="password"
                                name="confirmPassword"
                                class="form-control input-lg mt-2"
                                placeholder="Confirm Password"
                                [(ngModel)]="storeDetails.confirmPassword"
                            />
                            <p class="sText" *ngIf="passwordMatchError">Passowrds must match</p>
                            <p class="sText" *ngIf="formError">All fields are required.</p>
                        

                            <button class="myBlueButton-lg mt-4 w-100" type='button' (click)="storeRegistrationHandler()" >
                                Register
                            </button>

                            <mat-progress-bar class="w-100 mt-3" mode="indeterminate"  *ngIf="requestInProcess"></mat-progress-bar>

                            <p class="sText" *ngIf="responseError">{{responseErrorText}}</p>
                            <p class="mt-5 myText text-dark">Are you already registered with us? <a  class="badge badge-info active" routerLink='/login' >Login Here!</a></p>
                        
                        </div>

                        <div class="container mt-5 mb-5" *ngIf="successfullRegistration">
                            <h4>You have successfully Registered with us. We have sent you confirmation email, please confirm that.</h4>
                            <button class="myBlueButton-lg m-2 mb-5 mt-5 w-100" routerLink='/login' >
                                Go To Login
                            </button>
                        </div>

                </form>
        </div>
    </div>
</div>