
<div class="row">
  <div class="col-4">
    <mat-form-field appearance="fill" class="w-100">
        <mat-label>Year</mat-label>
        <mat-select (selectionChange)="yearSelector($event.value)" [(ngModel)]="preSelectedYear">
          <mat-option *ngFor="let year of years;" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
    </mat-form-field>
  </div>


  <div class="col-4">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Month</mat-label>
      <mat-select (selectionChange)="monthSelector($event.value)" [(ngModel)]="preSelectedMonth">
        <mat-option *ngFor="let month  of monthsOfYear; let i=index" [value]="month.id">
          {{month.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-4">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Day</mat-label>
      <mat-select (selectionChange)="daySelector($event.value)" [(ngModel)]="preSelectedDay">
          <mat-option *ngFor="let day of daysOfMonth" [value]="day">
            {{day}}
          </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>
