<app-heading   boxColor= {{boxColor}} headingText = {{headingText}}></app-heading>

<div class="container">
    <div class="row justify-content-center mt-3">
      <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">

          <div class="row">
              <mat-form-field appearance="fill" class="select-panel">
                <mat-label>Select Store</mat-label>
                <mat-select (selectionChange)="getStoreSlots( $event.value)" *ngIf="stores">
                  <mat-option *ngFor="let store of stores"   [value]="store._id"  (click)="getStoreName(store.storeName)">
                    {{store.storeName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
        
          <div class="row mt-3">
            <div class="col-4">
              <mat-form-field appearance="fill" class="select-panel-date m-2">
                <mat-label>Year</mat-label>
                <mat-select (selectionChange)="yearSelector($event.value)">
                  <mat-option *ngFor="let year of years" [value]="year">
                    {{year}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          
            <div class="col-4">
              <mat-form-field appearance="fill" class="select-panel-date m-2">
                <mat-label>Month</mat-label>
                <mat-select (selectionChange)="monthSelector($event.value)">
                  <mat-option *ngFor="let month  of monthsOfYear; let i=index" [value]="month.id">
                    {{month.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          
            <div class="col-4">
              <mat-form-field appearance="fill" class="select-panel-date m-2">
                <mat-label>Day</mat-label>
                <mat-select (selectionChange)="daySelector($event.value)">
                    <mat-option *ngFor="let date of daysOfMonth" [value]="date">
                      {{date}}
                    </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        
        <div class="row mt-3">
            <mat-form-field appearance="fill" class="select-panel">
              <mat-label>Available Time Slots</mat-label>
              <mat-select  *ngIf="arrayOfSlots" (selectionChange)="slotSelector($event.value)">
                <mat-option *ngFor="let slot of arrayOfSlots" [value]="slot.slotNumber" (click)="getSlotName(slot.appointmentStartTime,slot.appointmentEndTime)">
                  Slot Number-{{slot.slotNumber}} ({{slot.appointmentStartTime}} - {{slot.appointmentEndTime}})  {{slot.availableBookings}} Seats Available   
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
      
        <div class="row mt-3">
            <p class="sText" *ngIf="formError">Please fill all fields.</p>
            <p class="sText" *ngIf="responseError">{{responseErrorText}}</p>
        </div>
      
        <div class="row mt-3">
            <button class="myBlueButton-xlg w-100" type="button" (click)="submitHandler()">Book</button>
            <mat-progress-bar mode="indeterminate" class="m-2" color="warn" *ngIf="requestInProcess"></mat-progress-bar>
        </div>
      </div> 
    </div>
</div>
