<div class="container mt-5">
  <div class="contact row">
    <div class="resetModal-form mt-4 col-lg-8 col-md-9 col-sm-12 col-xs-12 ">
      <div class="heading-box">
        <h2 class="mb-5 p-2">Create Appointment</h2>
      </div>
    </div>
</div>
<div class="row mt-4">
  <div class="col-lg-5 col-md-7">
    <select class="custom-select">
      <option selected>Select Store</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>  
</div>
<div class="row mt-4">
  <div class="col-lg-5 col-md-7">
    <select class="custom-select">
      <option selected>Date</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>  
</div>
<div class="row mt-4">
  <div class="col-lg-5 col-md-7">
    <select class="custom-select">
      <option selected>Time Slot</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>  
</div>

</div>
