<app-heading   boxColor= {{boxColor}} headingText = {{headingText}}></app-heading>
<div class="container">
  <div class=' row  justify-content-center mt-5'>
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 ">
                  <input class="form-control input-lg mt-3"  type="email" placeholder="Enter your email" [(ngModel)]="email" (change)="changeHandler()">
                  <input class="form-control input-lg mt-3 "  type="password" placeholder="Enter your password" [(ngModel)]="password" (change)="changeHandler()">
                  <small class="text-danger" *ngIf="showWarningText">Please fill out both fields.</small>
                  <small class="text-danger" *ngIf="requestError">{{requestError}}</small>
                  <button class="myBlueButton-lg w-100 mt-3" type="button" (click)="loginHandler()"> Sign in </button>
                  <mat-progress-bar class="w-100 mt-2" mode="indeterminate" *ngIf="requestInProcess"></mat-progress-bar>
                  <p class="mt-5 myText text-dark">Are you not registered with us? <a  class="badge badge-dark active" routerLink='/registeration' >Register!</a></p>
                  <p class="mt-1 myText">Forgot Password?
                  <strong class="L" routerLink='/register' ><a  class="badge badge-warning active" routerLink='/forgetpassword' > Click here</a></strong></p>
          </div>        
  </div>
</div>
