<div class="flex ">
    <div class="row">
        <div class="align-item-center col-lg-6 col-md-8 col-sm-10 col-xs-12">
            <div class="resetModal-form justify-content-center">
                <div class="heading-box">
                    <h2 class="mb-5 p-2">Reset Password</h2>
                </div>
                <div class="resetModal-center justify-content-center">
                    <input class="form-control input-lg mt-5"  type="email" placeholder="Enter you email" [(ngModel)]="email" (change)="changeHandler()">
                    <p class="mt-2 myText2">
                    <strong>
                    Please provide your email address to reset password.
                    </strong>
                    </p>
                </div>
                <div class="resetModal-btn justify-content-center">
                    <button class="myRedButton-lg" type="button" (click)="handleClose()">
                    Close
                    </button>
                    <button class="myOrangeButton-lg ml-1" type="button" (click)="resetHandler()">
                    Reset
                    </button>
                    <div class="resetModal-btn justify-content-center" *ngIf="requestInProccess">
                        <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
    
                    </div>
                </div>
                <div class="resetModal-btn justify-content-center">
                    <p class="text-danger" *ngIf="showError">Please fill out the email field.</p>
                </div>
                
            </div>
        </div>
    </div>
</div>