<app-heading   boxColor= {{boxColor}} headingText = {{headingText}}></app-heading>

<div class="container ">

                <div class="row justify-content-center">
                    <div class="col-lg-6  col-md-8 col-xs-12 col-sm-10">
                        <input class="form-control input-lg mt-5"  type="email" placeholder="Enter you email" [(ngModel)]="email" (change)="changeHandler()">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <p class="mt-2 myText2">
                    <strong>
                    Please provide your email address to reset password.
                    </strong>
                    </p>
                </div>
                <div class="row">
                    <button class="myBlueButton-lg" type="button" (click)="handleClose()">
                    Close
                    </button>
                    <button class="myOrangeButton-lg ml-1" type="button" (click)="resetHandler()">
                    Reset
                    </button>
                    <div class="resetModal-btn justify-content-center" *ngIf="requestInProccess">
                        <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
    
                    </div>
                </div>
                <div class="row">
                    <p class="text-danger" *ngIf="showError">Please fill out the email field.</p>
                </div>
                
</div>