<div class="container">
    <div id="signup" class='mySignin mt-5'>
        <form >
                <div class="mySignin-form mt-3 mb-3">
                    <div class="h2-box-signup ">
                        <h2 class="mb-5" >Register</h2>
                    </div>
                </div>
                <div class="container" *ngIf="!successfullRegistration">

                    <input
                        label="First Name"
                        type="name"
                        name="firstName"
                        class="form-control input-lg mt-2"
                        placeholder="First Name"
                        [(ngModel)]="firstName"
                    />
                    <p class="sText"></p>

                    <input
                        label="Last Name"
                        type="name"
                        name="lastName"
                        class="form-control input-lg mt-2"
                        placeholder="Last Name"
                        [(ngModel)]="lastName"
                    />
                    <p class="sText"></p>
                    <input
                        label="Email"
                        type="email"
                        name="email"
                        class="form-control input-lg mt-2"
                        placeholder="Email"
                        [(ngModel)]="email"
                    />
                    <p class="sText"></p>
                    <input
                        label="Password"
                        type="password"
                        name="pass"
                        class="form-control input-lg mt-2"
                        placeholder="Enter Password"
                        [(ngModel)]="password"
                        
                    />

                    <input
                        id="standard-password-input"
                        label="Confirm Password"
                        type="password"
                        name="confirmPass"
                        class="form-control input-lg mt-2"
                        placeholder="Confirm Password"
                        [(ngModel)]="confirmPassword"
                    />
                    <p class="sText" *ngIf="passwordError">Passwords dont match.</p>
                    <p class="sText" *ngIf="formError">All fields are required.</p>


                    <div class="row justify-content-center">
                    <button class="myRedButton-lg m-2 mt-4 w-100" type='button' (click)="submitHandler()">
                        Submit
                    </button>
                    </div>
                    <div class="row justify-content-center">
                        <mat-progress-bar mode="indeterminate" *ngIf="requestInProcess" color="warn"></mat-progress-bar>
                        <p class="sText" *ngIf="responseErrorText">{{responseErrorText}}</p>

                        </div>
        
                    <p class="mt-5 myText text-dark">Are you already registered with us? <a  class="badge badge-info active" routerLink='/login' >Login Here!</a></p>
                   </div>
                   <div class="container mt-5 mb-5" *ngIf="successfullRegistration">
                    <h4>You have successfully Registered with us. We have sent you confirmation email, please confirm that.</h4>
                    <button class="myRedButton-lg m-2 mb-5 mt-5 w-100" routerLink='/login' >
                        Go To Login
                    </button>
                </div>
        </form>
    </div>
</div>