.h2-box-signup {
    background: #b72826;
    -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
    height: 130px;
  }
  .mySignin {
    min-height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  
  .mySignin .mySignin-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  
  .mySignin .mySignin-form .h2-box {
    background: #11213b;
    -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
    height: 130px;
  }
  
  .mySignin .mySignin-form .h2-box-signup {
    background: #b72826;
    -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
    height: 130px;
  }
  
  .mySignin .mySignin-form h2 {
    color: #11213b;
    background: white;
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.877);
            box-shadow: 0 20px 30px rgba(0, 0, 0, 0.877);
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    margin: 0 auto;
    margin-top: -45px;
    margin-bottom: 60px;
    padding: 20px;
  }
  
  .mySignin .mySignin-form button {
    margin: 50px auto;
  }
  
  .mySignin .mySignin-form .myText {
    font-size: 16px;
    color: #b72826;
  }
  
  .mySignin .mySignin-form .L {
    color: #11213b;
    font-weight: 200;
  }
  
  .mySignin .mySignin-form .L2 {
    color: #b72826;
  }
  