<div (window:resize)="onResize($event)">
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" >Digital Appointments</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-left" id="navbarNav">
      <ul #linkRef class="navbar-nav" data-toggle="collapse" data-target="#navbarNav" >
        <li class="nav-item" *ngIf="!authorized">
          <a routerLinkActive="active " class="nav-link" routerLink='/' name='home'>Home</a>
        </li>
        <li class="nav-item" *ngIf="authorized" >
          <a routerLinkActive="active " class="nav-link" routerLink='/dashboard' name='dashboard'>Dashboard</a>
        </li>
        <li class="nav-item " *ngIf="!authorized" >
          <a routerLinkActive="active " class="nav-link" routerLink='/registeration' name='registeration'>Register</a>
        </li>

        <li class="nav-item " *ngIf="authorized"  >
          <a routerLinkActive="active " class="nav-link" routerLink='/appointment/create' name='create' >Create</a>
        </li>

        <li class="nav-item" *ngIf="authorized">
          <a  routerLinkActive="active current" class="nav-link" routerLink='/completed' name='completed'>Completed</a>
        </li>

        <li class="nav-item" *ngIf="authorized">
          <a  routerLinkActive="active " class="nav-link" routerLink='/appointment/deleted' name='deleted'>Deleted</a>
        </li>

        
        <li class="nav-item" *ngIf="!authorized">
          <a  routerLinkActive="active " class="nav-link" routerLink='/store/registration' name='storeregistration'>Store Registration</a>
        </li>
        <li class="nav-item">
          <a  routerLinkActive="active " class="nav-link" routerLink='/contact' name='contact'>Contact</a>
        </li>
        <li class="nav-item">
          <a  *ngIf="authorized" routerLinkActive="active " class="nav-link" routerLink ='/logout'  name='logout' (click)="logoutHandler()">Logout</a>
        </li>
        <li class="nav-item">
          <a  *ngIf="!authorized" routerLinkActive="active " class="nav-link" routerLink='/login'  name='login'>Login</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class=" justify-content-left">
  <h2 class="navbar-brand" *ngIf="authorized">Welcome! {{firstName}} {{lastName}}</h2>
</div>
</div>