      <mat-form-field appearance="fill" class="select-panel w-100">
        <mat-label>Available Time Slots</mat-label>
        <mat-select  *ngIf="arrayOfSlots" (selectionChange)="slotSelector($event.value)" [(value)]="preSelectedSlotNumber">
          <mat-option *ngFor="let slot of arrayOfSlots" [value]="slot.slotNumber" (click)="getSlotName(slot.appointmentStartTime,slot.appointmentEndTime)">
            Slot Number-{{slot.slotNumber}} ({{slot.appointmentStartTime}} - {{slot.appointmentEndTime}})  {{slot.availableBookings}} Seats Available   
          </mat-option>
        </mat-select>
      </mat-form-field>
