<app-heading   boxColor= {{boxColor}} headingText = {{headingText}}></app-heading>
<div class="container mt-5">
    <div class="row justify-content-center mt-3">
      
          <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12" *ngIf="!successfullyContacted">
            <form>
                  <input
                    type="text"
                    name="name"
                    class="form-control input-lg mt-2"
                    placeholder="Your Name"
                    [(ngModel)] = "contactDetails.name"
                  />
                  <input
                    type="text"
                    name="email"
                    class="form-control input-lg mt-2"
                    placeholder="Your Email"
                    [(ngModel)]="contactDetails.email"
                  />
                  <input
                    type="text"
                    name="subject"
                    class="form-control input-lg mt-2"
                    placeholder="Subject"
                    [(ngModel)]="contactDetails.subject"
                  />
                  <textarea
                    type="text"
                    name="messageText"
                    rows="2"
                    class="form-control md-textarea input-lg mt-2"
                    placeholder="Your Message"
                    [(ngModel)]="contactDetails.message"
                    >
                  </textarea>

                  <p class="sText" *ngIf="formError">Please fill all fields.</p>


                    <button class="myBlueButton-lg btn-block w-100 mt-3" type="button" (click)="contactHandler()">
                      Send
                    </button>
                    <p class="sText " *ngIf="responseError">{{responseErrorText}}</p>

                    <mat-progress-bar class="w-100 mt-2" mode="indeterminate" *ngIf="requestInProcess"></mat-progress-bar>

            </form>
        </div>

        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12" *ngIf="successfullyContacted">
            
          <div class="row justify-content-center">
              <h1 >Thanks for contacting us.</h1>
            </div>

            <div class="row">
              <p class="text-center w-responsive mx-auto mb-3">
              We have recieved your querry and our support Team will repy on your
              given email address in next 48 Hours.
            </p>
          </div>

          <div class="row">
            <button
              class="myBlueButton-xlg btn-block"
              type="button"
              (click)="redirectToHome()"
            >
            Go Back to Home
            </button>
          </div>

        </div>

    </div>
</div>