
<div class="container mt-5">
    <div class="contact row">
        <div class="resetModal-form mt-4 col-lg-8 col-md-9 col-sm-12 col-xs-12 ">
          <div class="heading-box">
            <h2 class="mb-5 p-2">Active Appointments</h2>
          </div>
        </div>
    </div>
    <div class="row mt-4">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Store Name</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>
                  <button mat-mini-fab color = "basic">
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>
                  <button mat-mini-fab color = "basic" >
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>
                  <button mat-mini-fab color = "basic">
                    <mat-icon>edit</mat-icon>
                  </button>
            </tbody>
          </table>
    </div>
</div>