.bestBlueColor {
    background: #11213b;
}
.bestRedColor {
    background: #b72826;
}
.myRedCircleButton {
    background: #ff8b0d;
    border-radius: 100%;
    color: white;
    width: 40px;
    height: 40px;
    border: none;
}
.myBlueButton-sm {
    width: 100px;
    height: 30px;
    color: #fff;
    background: #11213b;
    border: none;
    outline: none;
    opacity: 0.8;
    transition: 0.4s;
    user-select: none;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
}
.myBlueButton-sm:hover {
    opacity: 1;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.877);
    transform: translateY(-5px);
    transition: 0.6s;
}
.myRedButton-sm {
    width: 100px;
    height: 30px;
    color: #fff;
    background: #b72826;
    border: none;
    outline: none;
    opacity: 0.8;
    transition: 0.4s;
    user-select: none;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
}
.myRedButton-sm:hover {
    opacity: 1;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.877);
    transform: translateY(-5px);
    transition: 0.6s;
}
.myBlueButton-lg {
    width: 120px;
    height: 40px;
    color: #fff;
    background: #11213b;
    border: none;
    outline: none;
    opacity: 0.8;
    transition: 0.4s;
    font-size: 20px;
    user-select: none;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
}
.myBlueButton-lg:hover {
    opacity: 1;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.877);
    transform: translateY(-5px);
    transition: 0.6s;
}
.myOrangeButton-lg {
    width: 120px;
    height: 40px;
    color: #fff;
    background: #ff8b0d;
    border: none;
    outline: none;
    opacity: 0.8;
    transition: 0.4s;
    font-size: 20px;
    user-select: none;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
}
.myOrangeButton-lg:hover {
    opacity: 1;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.877);
    transform: translateY(-5px);
    transition: 0.6s;
}
.myFavButton {
    width: 100%;
    height: 40px;
    color: #fff;
    background: #ff8b0d;
    border: none;
    outline: none;
    opacity: 0.8;
    transition: 0.4s;
    font-size: 20px;
    user-select: none;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
}
.myFavButton:hover {
    opacity: 1;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.877);
    transform: translateY(-5px);
    transition: 0.6s;
}
.myGreenButton-lg {
    width: 120px;
    height: 40px;
    color: #fff;
    background: #7ec544;
    border: none;
    outline: none;
    opacity: 0.8;
    transition: 0.4s;
    font-size: 20px;
    user-select: none;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
}
.myGreenButton-lg:hover {
    opacity: 1;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.877);
    transform: translateY(-5px);
    transition: 0.6s;
}
.myRedButton-lg {
    width: 120px;
    height: 40px;
    color: #fff;
    background: #b72826;
    border: none;
    outline: none;
    opacity: 0.8;
    transition: 0.4s;
    font-size: 20px;
    user-select: none;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
}
.myRedButton-lg:hover {
    opacity: 1;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.877);
    transform: translateY(-5px);
    transition: 0.6s;
}
.modalImageShadow {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.767);
}
.myBlueButton-xlg {
    width: 200px;
    height: 40px;
    color: #fff;
    background: #11213b;
    border: none;
    outline: none;
    opacity: 0.8;
    transition: 0.4s;
    font-size: 20px;
    user-select: none;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
  }
  .myBlueButton-xlg:hover {
    opacity: 1;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.877);
    transform: translateY(-5px);
    transition: 0.6s;
}
.myOrangeButton-xlg {
    width: 200px;
    height: 40px;
    color: #fff;
    background: #ff8b0d;
    border: none;
    outline: none;
    opacity: 0.8;
    transition: 0.4s;
    font-size: 20px;
    user-select: none;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
  }
  .myOrangeButton-xlg:hover {
    opacity: 1;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.877);
    transform: translateY(-5px);
    transition: 0.6s;
}
.myText {
    font-size: 20px;
    color: #b72826;
    padding-left: 50px ;
    padding-right: 50px;
  }
  .h2-box-signup {
    background: #b72826;
    -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
    height: 130px;
  }
  .mySignin {
    min-height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  
  .mySignin .mySignin-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  
  .mySignin .mySignin-form .h2-box {
    background: #11213b;
    -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
    height: 130px;
  }
  
  .mySignin .mySignin-form .h2-box-signup {
    background: #b72826;
    -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.363);
    height: 130px;
  }
  
  .mySignin .mySignin-form h2 {
    color: #11213b;
    background: white;
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.877);
            box-shadow: 0 20px 30px rgba(0, 0, 0, 0.877);
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    margin: 0 auto;
    margin-top: -45px;
    margin-bottom: 60px;
    padding: 20px;
  }
  
  .mySignin .mySignin-form button {
    margin: 50px auto;
  }
  
  .mySignin .mySignin-form .myText {
    font-size: 16px;
    color: #b72826;
  }
  
  .mySignin .mySignin-form .L {
    color: #11213b;
    font-weight: 200;
  }
  
  .mySignin .mySignin-form .L2 {
    color: #b72826;
  }
  .app-container{
      height: 100vh;
  }
  body{
      background-color: rgb(235, 235, 231);
  }
  .row{
      justify-content: center;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
