<div class="flex">
  <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
          <div class="resetModal-form justify-content-center">
              <div class="heading-box">
                  <h2 class="mb-5 p-2">Confirmed</h2>
              </div>
              <div class="resetModal-center justify-content-center mt-5">
                <p>You have successfully confirmed your account.</p>
              </div>
              <div class="resetModal-btn justify-content-center">
                  <button class="myOrangeButton-xlg" type="button" (click)="goToHome()" >
                  Got Login
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>